<p style="color: green"><%= notice %></p>

<h1>Libros de <%=@autor.name%></h1>

<div id="books">
  <% @books.each do |book| %>
    <%= render book %>
    <p>
      <%= link_to "Show this book", autor_book_path(@autor.id, book.id) %>
    </p>
  <% end %>
</div>

<p><%= link_to "New book", new_autor_book_path(@autor.id) %></p>
<%= link_to "Volver", autors_path %>