<p style="color: green"><%= notice %></p>

<%= render @book %>

<div>
  <%= link_to "Edit this book", edit_autor_book_path(@autor.id, @book.id) %> |
  <%= link_to "Back to books", autor_books_path(@autor.id) %>

  <%= button_to "Destroy this book", autor_book_path(@autor.id, @book.id), method: :delete %>
</div>
